/* styles.css */
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-color: #666;
}

body::before {
    content: "";
    position: fixed;
    background-image: url('./content/food-background.jpg');
    filter: brightness(0.7) blur(2px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

h2 {
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
}

h3 {
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

p {
    color: whitesmoke;
    font-size: 1em;
    line-height: 1.6;
    margin: 20px;
    font-size: 16px
}

a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul, ol {
    color: wheat;
    list-style-type: disc;
    margin: 20px;
    padding-left: 40px;
    font-size: 16px;
}

.button {
    text-align: center;
    margin: 20px;
    padding: auto;
    align-items: center;
}